@import "config";
@import "~react-toastify/dist/ReactToastify.css";
@import "~normalize-scss/sass/normalize";

*,
*::after,
*::before {
    box-sizing: border-box;
}

#root {
    padding: 0;
    margin: 0;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Inter";
}

.app {
    background: $white;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

.suspense {
    z-index: 5;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    .loading {
        height: 10rem;
        width: 10rem;
    }
}

.alert {
    font-size: 1rem;
}

.button {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    text-align: center;
    background: $red;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 0.5rem 0 $grey;
}
