$grey: #bbbbbb;
$red: #da5656;
$white: #e8e1e1;
$blue1: lightblue;
$blue2: #3498DB;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v2-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/inter-v2-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/inter-v2-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/inter-v2-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/inter-v2-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/inter-v2-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
