$grey: #2F3137;
$red: #E74C3C;
$green: #109132;
$white: #FBFBFB;
$offwhite: #F0F8FF;
$blue1: lightblue;
$blue2: #3498DB;

$grey_: rgba(43,61,79, 0.2);
$grey_8: rgba(43,61,79, 0.8);
$Flat-UI-2-rgba: rgba(230,75,59, 1);
$Flat-UI-4-rgba: rgba(52,151,175, 1);
$Flat-UI-5-rgba: rgba(40,128,184, 1);
@font-face {
    font-family: "Consolas";
    src: url("../fonts/Consolas.woff2") format("woff2");
}
