@import "config.scss";

.homePage {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 1365px;
    height: 100%;
    padding-top: 5rem;
    background: #fff;
	overflow-y: scroll;
    .homePageInner1 {
	    display: grid;
	    padding-top: 10rem;
        height: 250px;
        width: 100%;
		font-size: 4rem;
        justify-content: center;
        align-items: center;
        section {
            width: 15rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
            p {
                margin: 0;
            }
            button {
                background: $blue2;
                color: $white;
                border-radius: 0.5rem;
                height: 2rem;
                margin-top: 1rem;
            }

            input {
                border-radius: 0.5rem;
                height: 2rem;
            }
        }
        .sellForm, .threadTest {
            border: 1px solid $blue2;
            padding: 0.5rem;
        }
        .threadTest div {
            margin: 1rem 0;
        }
        .filesDisplay {
        }
        .fileItem {
            display: flex;
            flex-direction: column;
            border: 1px solid $blue2;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
        }
    }
	.homePageInner2 {
	    display: grid;
        height: 250px;
        width: 100%;
		padding-left:15rem;
		font-size: 2rem;
        justify-content: center;
        align-items: center;
        grid-template-rows: 1fr 1fr;
	}
	.homePageInner3 {
	    display: flex;
        height: 250px;
        width: 100%;
		font-size: 2rem;
        justify-content: center;
        align-items: center;
		flex-direction:row;
        grid-template-columns: 1rem 1rem;
		.inner-box {
		    background: #ccd6e6;
		    justify-content: center;
            align-items: center;
			padding:10rem;
			height:5px;
			width:100%;
		}
	}
}
