@import "config.scss";

.homePage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    font-size: 1rem;
    background: $blue1;
    .homePageInner {
        padding: 0.5rem;
        height: 100%;
        width: 100%;
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // align-items: flex-start;
        display: grid;
        grid-template-columns: 1fr 1fr;
        section {
            width: 15rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 1rem 0;
            p {
                margin: 0;
            }
            input {
                border-radius: 0.5rem;
                height: 2rem;
            }
        }
        .sellForm, .threadTest {
            border: 1px solid $blue2;
            padding: 0.5rem;
        }
        .threadTest div {
            margin: 1rem 0;
        }
        .filesDisplay {
        }
        .fileItem {
            display: flex;
            flex-direction: column;
            border: 1px solid $blue2;
            margin-bottom: 0.5rem;
            padding: 0.5rem;
        }
    }
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
