@import "config";

.navBarContainer {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    background: white;
    align-items: center;
    .loading {
        z-index: 5;
        position: absolute;
        top: 1rem;
        right: 1rem;
        left: auto;
        height: 3rem;
        width: 3rem;
    }
    .navBarLogo {
        display: flex;
        height: 5rem;
        padding: 0 1rem;
        font-size: 2rem;
        justify-content: center;
        align-items: center;
    }
    .navBarAddress {
        display: flex;
        height: 4rem;
        padding: 0.5rem;
        align-items: center;
		margin-left: 1050px;
        border: none;
        .connect {
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
		.btn-hover {
            width: 150px;
            font-size: 30px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            margin: 20px;
            height: 40px;
            text-align:center;
            border: none;
            background-size: 300% 100%;
            border-radius: 50px;
            moz-transition: all .4s ease-in-out;
            -o-transition: all .4s ease-in-out;
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
	        background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
            box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
	        background-position: 100% 0;
        }
        .btn-hover:focus {
            outline: none;
        }
    } 
}
