@import "config";

.subscriptionsDisplay {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    .subscriptionItem {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        padding: 1rem;
        position: relative;
        background: white;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        &:hover {
            background: #e8e8e8;
        }
        .subscriptionLabel {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            font-weight: 600;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: #808080;
            &.topLabel {
                margin-top: 0;
            }
        }
    }
}

.subscriptionButton {
    margin-top: 1rem;
}
