@import "config";

.subscribeModal {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(232, 225, 225, 0.5);
}

.subscribeModalInner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    background: $white;
    border-radius: 0.5rem;
    border: solid 1px white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.closeButton {
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    &:hover {
        color: $red;
    }
}

.modalTitle {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.modalLabel {
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #808080;
}

.modalInput {
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.25rem;
    height: 2rem;
    background: white;
    outline: none;
    border: solid 1px $grey;
}
